#DictionaryContainer{
    border-radius: 1rem;
    background-color: #acd0e0;
    color: #082a3f;
}

.BlueContainer.Dictionary{
    text-align:center;
    width: 70%;
    margin-left: auto;
	margin-right: auto;
    overflow: hidden;
}

.row {
    padding: 0.5rem;
    display: inline-block;
}

h1 {
	margin: 0 1rem 1rem 1rem;
}


.form {
    height: 100%;
    width: 100%;
}

.input-word {
    margin: 3rem 1rem;
    font-size: 2rem;
}

.dictionary_title{
	font-weight: bold;
}

#word_title, #definition_title, #etymology_title{
		display: none;
}

.part-of-speech {
    margin: 0 0 1.5rem 1rem;
    font-size: 1.2rem;
}

.dictionary-heading h2{
    font-weight: bold;
    margin: 2rem 0 4rem 2rem;
    padding: 0;
    border: 1rem;
}

.section-searchbar {
    height: 2rem;
    width: 80%;
    display: block;
    color: #bedff3;
    margin-left: 1rem;
}

input.form__input {
    position: relative;
    height: 100%;
    width: 100%;
}

.form__input {
    font-size: 100%;
    font-family: inherit;
    color: black;
    border-radius: 2px;
    background-color: rgba(255,255,255,.8);
    border: none;
    padding: 0.2rem 0 0 1rem;
    border-bottom: 3px solid transparent;
    height: 40%;
    width: 90%;
    transition: all .3s;
    text-align: left;

    position: relative;
    opacity: 1;
}

.form__label {
    font-size: 100%;
    font-weight: 500;
    margin-left: 1rem;
    margin-top: .3rem;
    width: 100%;
    display: block;
    cursor: default;
    transition: all .3s;
    overflow: hidden;
    white-space: nowrap;
    color: white;
}

.form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(#000000, .1);
    border-bottom: 3px solid #082a3f;
}

.language-selector {
    height: 4rem;
    width: 80%;
    min-width: 2rem;
    margin: 0 0 2rem 2rem;
    box-sizing: inherit;
    display: block;
    color: white;
}

.form__radio-group {
    width: 40%;
    display: inline-block;
}

.form__radio-input {
    display: none;
}

.form__radio-label {
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    padding-left: 3rem;
}

.form__radio-button {
    height: 1.5rem;
    width: 1.5rem;
    border: 3px solid #87CEFA;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.4rem;
}

.result-container {
    margin-left: 2rem;
    display: none;
    width: 80%;
}

.result-container-2 {
    display: block;
    margin-left: 2rem;
    width: 80%;
    font-size: 1.5rem;
}

.h3 {
    font-size: 0.5rem;
}

.word {
    color: #082a3f;
    font-size: 2rem;
    padding-bottom: .5rem;
    border: 0;
    margin: 0;
    text-decoration-line: underline;

}

.part-of-speech {
    text-transform: lowercase;
    font-style: italic;
    font-size: 1.5rem;
    padding-left: 2rem;
}

.underline {
    border-bottom: 1px solid #87CEFA;
}

.definition {
    margin: 1rem;
    font-size: 1.2rem;
}

.translation, #geoMampulanWord{
    margin: 0;
    font-size: 3rem;
}

.mampulanExample, .englishExample, .seeAlso, .etymology{
    margin-left: 1rem;
    font-size: 1.2rem;
}

.mampulanExample{
    font-family: MampulanFont;
}

#geoMampulanWord{
    font-size: 2rem;
    font-family: MampulanFont;
}


.transliteration{
    margin: 0 0 1rem 0;
    font-size: 1rem;
}