@font-face {
	font-family: 'AnP';
	src: url("/fonts/AlexAndPedro-Regular.ttf");
}

/*Gradient of the background*/
html {
    font-size: 150%;
}

.gradient {
  background-image:linear-gradient(#01a9db, #99CCFF);
}

body{
	margin: 0;
    padding: 0.5%;							/*must be in percentage*/
    background-attachment: fixed;			/*if the background will move while scrolling or not*/
	font-family: AnP;
}



.Page{
	width: 70%; 		/* as much as possible, absolute not relative because			*/ 
	margin: 0 auto;		/* when browser resizes, everything in width changes*/
	min-height: 100%;
	position: relative;

}

/* For mobile devices, etc. */
@media(max-width:1100px){
	.Page{
		width: 100%;
	}
}


/** Texts that are titles of articles */
h1 {
	margin: 1rem;
	font-size: 1.1rem;
}

img {
    max-width: 100%;
    height: auto;
}

/**Note: a:hover MUST come after a:link and a:visited
in the CSS definition in order to be effective.
Note: a:active MUST come after a:hover
in the CSS definition in order to be effective.
**/

a:link, a:visited {
    color: white;
	text-decoration: none;
}

/* mouse over link */
a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 1rem;
}

.PageBanner{
	min-height: 100px;
	overflow: hidden;
	background-image: url('/images/page_banner.png');
	background-size: 100%;
	background-position: 0 85%;
	border-style: solid;
	border-color: #042c41;
}

.PageBody{
	background-color: white;
	overflow: auto;
	min-height: 800px;
}

.PageLogo{
	overflow: auto;
	width: 50%;
	margin-left: 3rem;
}

.PageDescription{
	float: right;
	min-width: 5%; 
	max-width: 30%;
	color: #fff;
}

.PageHeaderSub{
	float: left;
	width: 100%;
	clear: both;
}

.MainMenu {
	padding: 10px 0;
	height: 25px;
	clear: both;
	margin: 1rem 0 0 0;
    background-color: #0e4b68;
	text-align:center;
	overflow:hidden;
	font-size: 1em;
}


.MainMenu ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
	height: 20px;
    background-color: #0e4b6800;
}


.MainMenu li {
padding: 1rem 1%;
display:inline;
	background-color:#0e4b68;
	font-size: 1.2rem;
	text-align: center;
}

.MainMenu a {
    color: #fff;
    text-align: center;
text-decoration:none; 
padding: 0px auto; /* variable width */
}

/*When you hover the main menu*/
div.MainMenu ul li:hover{
	background-color:#eba843;
}

#TagCloud{
	overflow: auto;
}

.TagGroup1, .TagGroup2, .TagGroup3, .TagGroup4{
	float: left;
	height: 18px;
}

.TagGroup1{
	font-size: 130%;
	margin: 2px;
}

.TagGroup2{
	font-size: 110%;
	margin: 2px;
}

.TagGroup3{
	font-size: 90%;
	margin: 2px;
}

.TagGroup4{
	font-size: 80%;
	margin: 2px;
}

.ComicNavigation{
  font-weight: bold;
  border: 3px solid #0b7cb1;
  border-radius: 20px;
  margin: auto;
  width: 90%;
  overflow: auto;
  padding: 0.25rem;
  text-align: center;
}

.nav-First, .nav-Previous, .nav-Random, .nav-Next, .nav-Latest{
	width: auto;
	display: inline-block;
	font-weight: inherit;
	font-size: 1.2rem;
	margin: auto 1.1em;
}

.ComicTitle{
	clear: both;
	margin: 5px;
	font-size: 150%;
	font-weight: bold;
	color: #0B2161;
	
}

.ComicDescription, .PageArticle{
	clear: both;
	margin: 10px;	
}

.ComicTags{
	font-size: 80%;
	clear: both;
	margin: 5px 5px 10px 5px;	
}

.PageSection{
	font-size: 1.2rem;
	color: white;
	font-weight: bold;
	clear: both;
	margin: 5px;
	padding: 5px 15px;
	border-top: 3px solid black;
	border-radius: 0 0 0.3em 0.3em;
	background-color: #0e4b68;
}



.BlueContainer, .infobox{
	background-color:#0e4b68;
	border: 2px solid #042c41;
	color: white;
	min-height: 80px;
	padding: 5px;
	margin: 5px;
	font-size: 1rem;
}

.AandPSites{
	clear: both;	
}

.followAnP{
	float: left;
	width: 15%;
	margin: 0px 10px 10px 0px;
}

.LeftSideBar{
	float: left;
	width: 20%;
}

.RightSideBar{
	float: right;
	width: 20%;
}

.PageContent{
	overflow: auto;
	background-color: white;
	padding: 0.5rem;
}

.PageContent a:link, .PageContent a:visited, .PageBanner a:link, .PageBanner a:visited{
	color: #0b7cb1;
}

.infobox {
	padding: 5px;

}

#FunFactStatement{
	padding: 5px;
	min-height: 100px;
	margin-bottom: 5px;
	text-align: center;
}

.button{
	border: 0;
	background: #006597;
	border-radius: 4px;
	box-shadow: 0 5px 0 #003e5e;
	color: #fff;
	cursor: pointer;
	font: inherit;
	margin: 0;
	outline: 0;
	padding: 8px 10px;
	transition: all .1s linear;
}


button:active {
	box-shadow: 0 2px 0 #003e5e;
	transform: translateY(3px);
}

.PageArticle{
	clear: both;
	margin: 1rem;
	padding: 1rem;
}

.ArticleAuthor{
	font-size: 80%;
}


/*For Images in cast.html*/
.castImage{
	width: 8rem;
	height: auto;
	float: right;
	margin: 1rem;
}


/*FOR archive.html*/
.archive-date{
	text-align: right;
    padding: 0 5px 0 0;
    font-size: 0.8rem;
    white-space: nowrap;
}

.archive-title{
	 padding: 2px 5px;
    border-left: 1px dashed #aaaaaa;
}

.PageEnd{
	clear: both;
	padding-bottom: 60px;
}

/* d */

.comicarchiveframe {
	background: #fff;
	border: 1px solid #000;
	filter: alpha(opacity=99);
	opacity: 0.99;
	padding: 5px;
}