#RandomComic{
	padding: 0;
	width: auto;
	color: var(--color-text-light);
	display:block;
	margin:auto;
	text-align: center;
}

.lockPanelDiv{
	text-align: center;
}

#RandomComicGenerator{
	padding: 0;
	margin: 5px;
}

.comicPanelVisibility{
	border: 0;
	background: var(--color-accent-light);
	border-radius: 4px;
	box-shadow: 0 5px 0 var(--color-primary-dark);
	color: var(--color-text);
	cursor: pointer;
	font: inherit;
	outline: 0;
	padding: 8px 10px;
	transition: all .1s linear;
	display: none;
	width: 32.5%;
}

#randomComicButton{
	margin: 1rem;
}